<div class="container" >
  <h1>{{ title }}</h1>
  <hr>
  <div class="row" >
    <div class="col-md-6 info" *ngFor="let movie of movies | async">
      <div class=row>
        <div class="col-xs-4">
          <a href="#" >
            <img src="{{movie.poster_path | imageUrl}}" >
          </a>
        </div>
        <div class="col-xs-8">
          <a href="#" > {{ movie.title }} </a><br/>
          <span class="glyphicons glyphicons-star" aria-hidden="true"></span>
          <span class="glyphicons glyphicons-calendar">{{movie.release_date}}</span>
          <span>{{movie.genre_ids | translateGenre | async }}</span>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>